<header>
    <ul>
        <li> <a href="/">home</a></li>
        <li> <a href="/about">about</a></li>
        <li> <a href="/user">user</a></li>
        <li> <a href="/sungjuk">성적</a></li>
        <li> <a href="/showsungjuk">성적리스트</a></li>
    </ul>
</header>